{% extends "bonnes_lectures/main.html" %}

{% block title %}Détails du livre{% endblock %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <h2>{{ author.nom }}</h2>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush mb-3">
            <li class="list-group-item"><b>Nom :</b> {{ author.nom }}</li>
            <li class="list-group-item"><b>Prénom :</b> {{ author.prenom }}</li>
        </ul>

        <div class="mb-3">
            <a href="{% url 'edit_author' author.id %}" class="btn btn-warning me-2">Éditer la page de l'auteur</a>
            <a href="{% url 'delete_author' author.id %}" class="btn btn-danger me-2">Supprimer l'auteur</a>
        </div>
    </div>
</div>

{% if author.livres.all %}
    <h3>Avis</h3>
    {% for book in author.livres.all %}
    <div class="card mb-3">
        <div class="card-body">
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item"><b>Titre :</b> {{ book.title }}</li>
                <li class="list-group-item"><b>Éditeur :</b> {{ book.publisher }}</li>
                <li class="list-group-item"><b>Année :</b> {{ book.year }}</li>
                <li class="list-group-item"><b>ISBN :</b> {{ book.ISBN }}</li>
                <li class="list-group-item"><b>Backcover :</b> {{ book.backCover }}</li>
                <li class="list-group-item"><b>Cover :</b> {{ book.cover }}</li>
            </ul>

            <div class="mb-3">
                <a href="{% url 'book' book.id %}" class="btn btn-info btn-sm me-1">Voir</a>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
    <p class="text-muted">Aucun livre pour cet auteur.</p>
{% endif %}

<div class="mt-3">
    <a href="{% url 'authorBoard' %}" class="btn btn-secondary">Retour à la liste des auteurs</a>
</div>
{% endblock %}
