{% extends "bonnes_lectures/main.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block title %}
    {% if button_label == "Ajouter" %}
        {% trans "Ajouter un livre" %}
    {% else %}
        {% trans "Modifier un livre" %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>    
            {% if button_label == "Ajouter" %}
                {% trans "Ajouter un livre" %}
            {% else %}
                {% trans "Modifier un livre" %}
            {% endif %}
            </h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form layout='vertical' %}
                <button type="submit" class="btn btn-primary">    
                    {% if button_label == "Ajouter" %}
                        {% trans "Ajouter" %}
                    {% else %}
                        {% trans "Modifier" %}
                    {% endif %}
                </button>
                <a href="{% url 'bookBoard' %}" class="btn btn-secondary ms-2">{% trans Annuler %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
