<!DOCTYPE html>
<html lang ="fr">

{# Load the tag library #}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<head><meta charset = "utf-8" ></head>
<body><h1>Book Board</h1>
<table>
    <tr>
        <th>Titre</th>
        <th>Date de publication</th>
        <th>Actions</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.year}}</td>
        <td>
            <a href="{% url 'book' book.id %}">voir</a>,
            <a href="{% url 'edit_book' book.id %}">éditer</a>,
            <a href="{% url 'delete_book' book.id %}">effacer</a>
        </td>
    </tr>
    {% endfor %}
</table>

<li><a href="welcome">retour a l'accueil</a></li>
</body>
</html>